page-main {

}

ion-header {
  #logo {
    width: 25px;
    margin-left: 10px;
  }
  .title {
    text-align: center;
  }
}

.card-background-page {
  ion-card {
    position: relative;
    margin: 0 !important;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  .video-image {
    max-width: 100%;
    width: 800px;
    margin: auto;
  }
}
