page-category {

}


.card-background-page {
  ion-card {
    position: relative;
    margin: 0 !important;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  .video-image {
    max-width: 100%;
    width: 900px;
    margin: auto;
  }

  .video-image::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0, #000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    opacity: .9;
    content: '';
  }

  .card-title {
    position: absolute;
    bottom: 16%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding: 15px;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    bottom: 5%;
    width: 100%;
    color: #fff;
    padding: 15px;
  }

  .tinted {
    opacity: 1.0;
  }

  ion-row {
    background: #263a5d !important;
  }
}
