<ion-header>

  <ion-navbar>
    <ion-title>category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="videos">
    <div>
      <ion-card *ngFor="let video of videos">
        <div *ngIf="video.thumbnail">
          <div class="video-image">
            <img src="{{video['thumbnail']}}" class="tinted">
          </div>
        </div>

        <div class="card-title" (click)="videoDetails(video.videoId)">
          {{video['title']}}
        </div>

        <div class="card-subtitle" *ngIf="video.dateSubmitted">
          {{video['dateSubmitted']}}
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
