page-home {
  .content {
    background: #2a4763 no-repeat center center fixed;
    background-image: url('../../assets/imgs/splash_screen.jpg') ;
    -webkit-background-image: url('../../assets/imgs/splash_screen.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }



}

