<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title"><img src="assets/imgs/applogo.png" id="logo">Bookmarks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
  <div *ngIf="videos">
    <div>
      <ion-card *ngFor="let video of videos">
        <div *ngIf="video[0].thumbnail">
          <div class="video-image">
            <img src="{{video[0]['thumbnail']}}" class="tinted">
          </div>
        </div>

        <button *ngIf="on === true" ion-button medium color="primary" icon-only (click)="removeBookmark(localStorage.email, video[0].videoId)">
          <ion-icon name="star"></ion-icon>
        </button>


        <div class="card-title" (click)="videoDetails(video[0].videoId)">
          {{video[0]['title']}}
        </div>

        <div class="card-subtitle" *ngIf="video[0].dateSubmitted">
          {{video[0]['dateSubmitted']}}
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
