<ion-header>
  <ion-navbar>
    <ion-title>bookmarks</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page" padding>
  <div *ngIf="videos">
    <div>
      <ion-card *ngFor="let video of videos">
        <div *ngIf="video[0].thumbnail">
          <div class="video-image">
            <img src="{{video[0]['thumbnail']}}" class="tinted">
          </div>
        </div>

        <div class="card-title" (click)="videoDetails(video[0].videoId)">
          {{video[0]['title']}}
        </div>

        <div class="card-subtitle" *ngIf="video[0].dateSubmitted">
          {{video[0]['dateSubmitted']}}
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
