<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title"><img src="assets/imgs/applogo.png" id="logo"></ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="loadCategory(category)" class="btn-txt">{{category}}</button>
      <button ion-button icon-start (click)="loadSubCategory(subCategory)" class="btn-txt">{{subCategory}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="video-container" *ngIf="linkType === 'YouTube'">
    <iframe frameborder="0" width="560" height="315" allowfullscreen="allowfullscreen" [src]="cleanUrl('https://www.youtube.com/embed/'+videoId)"></iframe>
  </div>
  <div class="video-container" *ngIf="linkType === 'Vimeo'">
    <iframe frameborder="0" width="560" height="315" allowfullscreen="allowfullscreen"  [src]="cleanUrl('https://player.vimeo.com/video/'+videoId+'?color=ebebeb&title=0&byline=0&portrait=0&badge=0')"></iframe>
  </div>
  <div class="video-container" *ngIf="linkType === 'DailyMotion'">
    <iframe frameborder="0" width="560" height="315" allowfullscreen="allowfullscreen" [src]="cleanUrl('//www.dailymotion.com/embed/video/'+videoId)"></iframe>
  </div>

  <ion-card color="primary">
    <div class="allIcons">
      <div style="text-align: center">
        <button ion-button (click)="likeVideo(videoId, email, liked)">
          <ion-icon *ngIf="liked === true" class="true" name="thumbs-up"></ion-icon>
          <ion-icon *ngIf="liked === false" name="thumbs-up"></ion-icon>
        </button>
        <button ion-button (click)="bookmarkVideo(videoId, email, bookmarked)">
          <ion-icon *ngIf="bookmarked === true" class="true" name="star"></ion-icon>
          <ion-icon *ngIf="bookmarked === false" name="star"></ion-icon>
        </button>
        <button ion-button (click)="dislikeVideo(videoId, email, disliked)">
          <ion-icon *ngIf="disliked === true" class="true" name="thumbs-down"></ion-icon>
          <ion-icon *ngIf="disliked === false" name="thumbs-down"></ion-icon>
        </button>
    </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-title>
      {{videoTitle}}
    </ion-card-title>
    Description
    <p>
      {{summary}}
    </p>
  </ion-card>

  <div>
    Recommended Videos
  </div>

  <div *ngIf="otherVideos" class="card-background-page">
    <div>
      <ion-card *ngFor="let video of otherVideos">
        <div *ngIf="video.thumbnail">
          <div class="video-image">
            <img src="{{video['thumbnail']}}" class="tinted">
          </div>
        </div>

        <div class="card-title" (click)="videoDetails(video.videoId)">
          {{video['title']}}
        </div>

        <div class="card-subtitle" *ngIf="video.dateSubmitted">
          {{video['dateSubmitted']}}
        </div>
      </ion-card>
    </div>
  </div>

</ion-content>


